/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
*,:after,:before{box-sizing:border-box}body{margin:0}[class*=col-]{float:left;padding-left:17px;padding-right:17px; margin-bottom: 34px;}.grid{width:auto;}.grid:after{content:"";display:table;clear:both}.grid-pad{margin:0 -17px}.push-right{float:right}.col-1-1{width:100%}.col-2-3,.col-4-6,.col-8-12{width:66.66%}.col-1-2,.col-6-12{width:50%}.col-2-5{width:40%;}.col-1-3,.col-4-12{width:33.33%}.col-1-4,.col-3-12{width:25%}.col-1-5{width:20%}.col-1-6,.col-2-12{width:16.667%}.col-1-7{width:14.28%}.col-5-7{width:71.43%}.col-1-8{width:12.5%}.col-1-9{width:11.1%}.col-4-9{width:44.44%}.col-1-10{width:10%}.col-1-11{width:9.09%}.col-1-12{width:8.33%}.col-11-12{width:91.66%}.col-10-12{width:83.333%}.col-3-4,.col-9-12{width:75%}.col-5-12{width:41.66%}.col-7-12{width:58.33%}.push-2-3,.push-8-12{margin-left:66.66%}.push-1-2,.push-6-12{margin-left:50%}.push-1-3,.push-4-12{margin-left:33.33%}.push-1-4,.push-3-12{margin-left:25%}.push-1-5{margin-left:20%}.push-1-6,.push-2-12{margin-left:16.667%}.push-1-7{margin-left:14.28%}.push-1-8{margin-left:12.5%}.push-1-9{margin-left:11.1%}.push-1-10{margin-left:10%}.push-1-11{margin-left:9.09%}.push-1-12{margin-left:8.33%}@media handheld,only screen and (max-width:760px) {.grid{width:100%;min-width:0;margin-left:0;margin-right:0;padding-left:20px;padding-right:10px}[class*=col-]{width:auto;float:none;margin:10px 0;padding-left:0;padding-right:10px}[class*=tablet-col-]{float:left;margin:0 0 10px;padding-left:0;padding-right:10px;padding-bottom:0}.tablet-col-1-1{width:100%}.tablet-col-2-3,.tablet-col-8-12{width:66.66%}.tablet-col-1-2,.tablet-col-6-12{width:50%}.tablet-col-2-5{width:40%;}.tablet-col-1-3,.tablet-col-4-12{width:33.33%}.tablet-col-1-4,.tablet-col-3-12{width:25%}.tablet-col-1-5{width:20%}.tablet-col-1-6,.tablet-col-2-12{width:16.667%}.tablet-col-1-7{width:14.28%}.tablet-col-1-8{width:12.5%}.tablet-col-1-9{width:11.1%}.tablet-col-4-9{width:44.44%}.tablet-col-1-10{width:10%}.tablet-col-1-11{width:9.09%}.tablet-col-1-12{width:8.33%}.tablet-col-11-12{width:91.66%}.tablet-col-10-12{width:83.333%}.tablet-col-9-12{width:75%}.tablet-col-5-12{width:41.66%}.tablet-col-7-12{width:58.33%}.hide-on-tablet{display:none!important;width:0;height:0}}@media handheld,only screen and (max-width:460px){.grid{width:100%;min-width:0;margin-left:0;margin-right:0;padding-left:20px;padding-right:10px}[class*=col-]{width:auto;float:none;margin:10px 0;padding-left:0;padding-right:10px}[class*=mobile-col-]{float:left;margin:0 0 10px;padding-left:0;padding-right:10px;padding-bottom:0}.mobile-col-1-1{width:100%}.mobile-col-2-3,.mobile-col-8-12{width:66.66%}.mobile-col-1-2,.mobile-col-6-12{width:50%}.mobile-col-2-5{width:40%;}.mobile-col-1-3,.mobile-col-4-12{width:33.33%}.mobile-col-1-4,.mobile-col-3-12{width:25%}.mobile-col-1-5{width:20%}.mobile-col-1-6,.mobile-col-2-12{width:16.667%}.mobile-col-1-7{width:14.28%}.mobile-col-1-8{width:12.5%}.mobile-col-1-9{width:11.1%}.mobile-col-4-9{width:44.44%}.mobile-col-1-10{width:10%}.mobile-col-1-11{width:9.09%}.mobile-col-1-12{width:8.33%}.mobile-col-11-12{width:91.66%}.mobile-col-10-12{width:83.333%}.mobile-col-9-12{width:75%}.mobile-col-5-12{width:41.66%}.mobile-col-7-12{width:58.33%}.hide-on-mobile{display:none!important;width:0;height:0}}

  .grid-pad-small [class*=col-]{padding-left:10px;padding-right:10px; margin-bottom: 25px;}#content .grid-pad-small{margin:0 -10px}
    @media handheld,only screen and (min-width:760px) {
        .hide-on-desktop { display: none!important;width: 0;height: 0; }
    }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
/* IE 6/7 */ .clearfix { *zoom: 1; }

h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 150%; }
h4 { font-size: 120%; }
h5 { font-size: 100%; font-weight: bold; }
small { font-size: 60%; }

button, .button { border:none; border-radius: 2px; display: inline-block; text-decoration: none; }
  button:focus, a.button:focus { outline:0; }
  button:hover, a.button:hover { cursor: pointer; }
  button.eat, .button.eat { background-color: #CC668A; color: #fff; }
  button.place, .button.place { background-color: #0D87C0; color: #fff; }

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }


html, body { font-size: 12px; font-family: sans-serif; width: 100%; color: #0F5778; }

.landing-page { width: 100%; text-align: center; margin: 4rem 0 0; }
  .landing-page .logo { width: 40%; max-width: 600px; margin: 0 0 4rem; } /*animation: App-logo-spin infinite 20s linear; */
  .landing-page h1 { margin: 0 0 4rem; }

  .landing-page .info { font-size: 20px; max-width: 450px; width: 50%; margin: 0 auto; }
    .landing-page .info p { margin-bottom: 34px;line-height: 35px; text-align: left;  }
      .landing-page .info span { display: block; float: left; width: 30px; height: 30px; background-position: center center; background-size: contain; margin: 0 30px 0 0; }
      .landing-page .info span.checked { background-image: url('/circle-checked.png'); }
      .landing-page .info span.unchecked { background-image: url('/circle-unchecked.png'); }

  .landing-page h2 { margin: 0 0 2rem; }
  .landing-page .actions { margin-bottom: 8rem; }
    .landing-page .actions .button { font-size: 200%; padding: 15px 36px 12px; border-radius: 6px; }

.header { margin: 0 auto 4rem; height: 70px; box-shadow: 0px 2px 18px rgba(0,0,0,0.08); overflow: hidden; }
  .header .content { max-width: 900px; margin: 0 auto; height: 100%; }
    .header .content .logo { height: 50px; margin: 10px 2rem 0 0; display: inline-block; float: left; }
      .header .content .logo img { height: 100%; }
    .header .content a { font-size: 150%; font-weight: 500; display: inline-block; padding: 0 1rem; line-height: 62px; margin-top: 4px; text-decoration: none; }
      .header .content a.place { color: #0D87C0; }
        .header .content a.place:hover, .header .content a.place.active { border-bottom: 4px solid #0D87C0; }
      .header .content a.eat { color: #CC668A; }
        .header .content a.eat:hover, .header .content a.eat.active { border-bottom: 4px solid #CC668A; }
      .header .content a.my-bets { color: #166f99; } 
        .header .content a.my-bets:hover, .header .content a.my-bets.active { border-bottom: 4px solid #166f99; }
      .header h1 {   }
        .header h1.place { color: #0D87C0; }
        .header h1.eat { color: #CC668A; }
        .header h1 img { max-width: 60px; display: block; margin: 0 auto 1rem; }


.place-a-bet-wrap { max-width: 900px; margin: 0 auto; }
  
  .place-a-bet-wrap .game .grid-pad-small { margin: 0 -10px; }
    .place-a-bet-wrap .game [class*=col-] { margin-bottom: 0; }

  .place-a-bet-wrap .game { line-height: 2rem; font-size:1.5rem; margin: 0 0 2rem; box-shadow: 0px 2px 18px rgba(0,0,0,0.08); border-radius: 6px; white-space: nowrap; padding: 1rem; position: relative; }
    .place-a-bet-wrap input, .place-a-bet-wrap button { max-width: 100%; }
    
    .place-a-bet-wrap .datetime { font-size: 1.2rem; color: #6d7075; line-height: 26px; font-weight: 300; text-align: center; padding-top: 2px; }
      .place-a-bet-wrap .datetime .date { font-weight: 600; }
      .place-a-bet-wrap .datetime .time { font-size: 1.7rem; }

    .place-a-bet-wrap .game .flag { border-radius: 50%; border: 2px solid #fff; width: 35px; height: 35px; background-position: center center; background-size: cover; background-repeat: no-repeat; box-shadow: 0 0 6px 0 rgba(0,0,0,0.2); display: inline-block; float: 
    left; margin-right: 12px; }
      .place-a-bet-wrap .game .flag img { max-width: 100%; max-height: 100%; }

  .place-a-bet-wrap .game .info .home, .place-a-bet-wrap .game .info .seperator, .place-a-bet-wrap .game .info .away { line-height: 35px;  }
    .place-a-bet-wrap .game button { border: 1px solid #0D87C0; padding: 10px; display: block; font-size: 1.5rem; overflow: hidden; background: none; border-radius: 6px; text-align: left; width: 100%; }
    .place-a-bet-wrap .game .info button.draw { text-align: center; line-height: 35px; }
    .place-a-bet-wrap .game button:hover, .place-a-bet-wrap .game button.active { background-color:  #0D87C0; color: #fff; }

    .place-a-bet-wrap .game .actions { text-align: center; }
    .place-a-bet-wrap .game .info.inactive { color: #ccc }
    .place-a-bet-wrap .game .action span { display: block; font-size: 1.2rem; }

    .place-a-bet-wrap .game .action input { line-height: 22px; font-size: 15px; padding: 4px 6px; border-radius: 4px; border: 1px solid #999da3; }
    .place-a-bet-wrap .game .action .place { color: #0D87C0; text-align: center; line-height: 35px; }
      .place-a-bet-wrap .game .action .place.inactive { background-color: #b8bbc1; cursor: default; }
      .place-a-bet-wrap .game .action .place.active { color: #0D87C0; background-color: #fff; text-align: center; line-height: 35px; }
      .place-a-bet-wrap .game .action .place.active:hover { color: #fff; background-color: #0D87C0; }

.eat-a-bet-wrap { max-width: 900px; margin: 0 auto; }

.eat-a-bet-wrap .game .grid-pad-small { margin: 0 -10px; }
  .eat-a-bet-wrap .game [class*=col-] { margin-bottom: 0; }

.eat-a-bet-wrap .game { line-height: 2rem; font-size:1.5rem; margin: 0 0 2rem; box-shadow: 0px 2px 18px rgba(0,0,0,0.08); border-radius: 6px; white-space: nowrap; padding: 1rem; position: relative; }
  .eat-a-bet-wrap input, .eat-a-bet-wrap button { max-width: 100%; }
  
  .eat-a-bet-wrap .datetime { font-size: 1.2rem; color: #6d7075; line-height: 26px; font-weight: 300; text-align: center; padding-top: 2px; }
    .eat-a-bet-wrap .datetime .date { font-weight: 600; }
    .eat-a-bet-wrap .datetime .time { font-size: 1.7rem; }

  .eat-a-bet-wrap .game .flag { border-radius: 50%; border: 2px solid #fff; width: 35px; height: 35px; background-position: center center; background-size: cover; background-repeat: no-repeat; box-shadow: 0 0 6px 0 rgba(0,0,0,0.2); display: inline-block; float: 
  left; margin-right: 12px; }
    .eat-a-bet-wrap .game .flag img { max-width: 100%; max-height: 100%; }

.eat-a-bet-wrap .game .info .home, .eat-a-bet-wrap .game .info .seperator, .eat-a-bet-wrap .game .info .away { line-height: 35px;  }
  .eat-a-bet-wrap .game button { border: 1px solid #b8bbc1; padding: 10px; display: block; font-size: 1.5rem; overflow: hidden; background: none; border-radius: 6px; text-align: left; width: 100%; }
  .eat-a-bet-wrap .game .info button.draw { text-align: center; line-height: 35px; }
  /*.eat-a-bet-wrap .game button:hover, .eat-a-bet-wrap .game button.active { background-color:  #0D87C0; color: #fff; }*/

  .eat-a-bet-wrap .game .actions { text-align: center; }
  .eat-a-bet-wrap .game .action span { display: block; font-size: 1.2rem; }
  .eat-a-bet-wrap .game .action input { line-height: 22px; font-size: 15px; padding: 4px 6px; border-radius: 4px; border: 1px solid #999da3; }
  .eat-a-bet-wrap .game .action .eat { border: 1px solid #CC668A; background-color: #CC668A; color: #fff; text-align: center; line-height: 35px; }
    .eat-a-bet-wrap .game .action .eat:hover, .eat-a-bet-wrap .game .action .eat.active { background-color: #b55375; }

  .eat-a-bet-wrap .game .bet { padding: 1rem 0;  margin: 0 -1rem; padding-left: 1rem; padding-right: 1rem; }
  .eat-a-bet-wrap .game .bet.first { margin-top: 1rem; }
    .eat-a-bet-wrap .game .bet:nth-child(even) {background: #f4f7fc;}
    .eat-a-bet-wrap .game .bet:nth-child(odd) {background: #fff; }
    .eat-a-bet-wrap .game .bet button { border: 1px solid #b8bbc1; text-align: center; color:#b8bbc1; }
    .eat-a-bet-wrap .game .bet button.active { background-color:#0D87C0; border-color: #0D87C0; color: #fff; }

    .eat-a-bet-wrap .game .bet span.label {}
    .eat-a-bet-wrap .game .bet span.value { line-height: 2.5rem; font-size: 1.7rem;  }

  


    
